description = "Page Loader"
==
<div class="preloader d-flex align-items-center justify-content-center position-fixed w-100 vh-100 bg-light-100 top-0 start-0 z-100 pe-none transition-30">
    <div class="spinner-grow text-primary w-5 h-5" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

{% put scripts %}
<script>
window.addEventListener('load', function () {
    const preloader = document.querySelector('.preloader');
    const fadeEffect = setInterval(() => {
        if (!preloader.style.opacity) {
            preloader.style.opacity = 1;
        }
        if (preloader.style.opacity > 0) {
            preloader.style.opacity -= 0.1;
        } else {
            clearInterval(fadeEffect);
        }
    }, 200);
});
</script>
{% endput %}