// Navbar nav
//

.navbar-nav {
  .dropdown-menu {
    &.dropdown-menu-end {
      right: 0;
      left: auto;
      .dropdown-submenu {
        .dropdown-menu {
  	  	  left: auto;
          right: 100%;
        }
      }
    }
  
    .dropdown-submenu {
      position: relative;
   	  & > .dropdown-menu {
   	    top: 0;
   	    left: 100%;
   	    margin-left: 0;
   	    display: none;
   	    &.show {
   	  	  display: block;
        }
      }
    }
  }

  .mega-dropdown {
  	.dropdown-menu {
  	  width: 100%;
  	  margin-top: 0;
  	  overflow: hidden;
  	}
  }
}


// Responsive navbar
//

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);
    &#{$infix} {
      @include media-breakpoint-up($next) {
        flex-wrap: nowrap;
        justify-content: flex-start;

        .navbar-nav {
          .dropdown-menu {
			min-width: 13.125rem;
			margin-top: 0;
          }
        }
		
		.hover-dropdown {
		  &.navbar-nav {
		  	& .dropdown {
		  	  &:hover {
		  	  	& > .dropdown-menu {
		  	  		display: block;
		  	  	}
		  	  }
		  	}
		  	.dropdown-submenu {
		  	  &:hover {
		  	  	& > .dropdown-menu {
		  	  		display: block;
		  	  	}
		  	  }
		  	}
		  	.dropdown-childmenu {
		  	  &:hover {
		  	  	& > .dropdown-menu {
		  	  		display: block;
		  	  	}
		  	  }
		  	}
		  }
		}

        .navbar-collapse {
		  overflow: visible;
		  max-width: 100%;
        }
      }
    }
  }
}