description = "About-Contact Section"

[viewBag]
==
<section class="{{ data.section_aboutContact_id|slug }} about-contact py-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 d-md-flex align-items-stretch">
                <div class="w-100 me-md-2 bg-size-cover bg-position-center" style="background-image: url('{{ data.section_aboutContact_image|media|resize(800, 1000, { mode: 'crop' }) }}');" data-sal="slide-down" data-sal-duration="2000"></div>
                <div class="w-100 ms-md-2 p-4 bg-size-cover bg-position-center position-relative" style="background-image: url('{{ data.section_aboutContact_fimage|media|resize(800, 1000, { mode: 'crop' }) }}');" data-sal="slide-down" data-sal-delay="500" data-sal-duration="2000" data-sal-easing="ease-out-cubic">
                    <div class="position-absolute top-0 bottom-0 start-0 end-0 w-100 h-100 bg-primary-100 opacity-50"></div>
                    <div class="py-5 position-relative mx-auto">
                        <div class="py-2">
                            <span class="text-uppercase text-white fs-7">{{ 'Cooperate with us'|_ }}</span>
                            <h3 class="text-white fs-3 fw-bold mb-0">{{ 'Request A Project'|_ }}</h3>
                        </div>
                        <form action="#" class="" data-request="{{ genericForm }}::onFormSubmit">
                            {{ form_token() }}
                            <div id="{{ genericForm }}_forms_flash"></div>
                            <div class="form-group mb-3">
                                <input type="text" name="name" class="form-control bg-transparent text-white opacity-75 h-14 px-0 border-top-0 border-start-0 border-end-0 rounded-0 shadow-none" placeholder="{{ 'Name'|_ }}">
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" name="email" class="form-control bg-transparent text-white opacity-75 h-14 px-0 border-top-0 border-start-0 border-end-0 rounded-0 shadow-none" placeholder="{{ 'Email'|_ }}">
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" name="subject" class="form-control bg-transparent text-white opacity-75 h-14 px-0 border-top-0 border-start-0 border-end-0 rounded-0 shadow-none" placeholder="{{ 'Subject'|_ }}">
                            </div>
                            <div class="form-group mb-3">
                                <textarea name="comments" id="" cols="30" rows="5" class="form-control bg-transparent text-white opacity-75 px-0 border-top-0 border-start-0 border-end-0 rounded-0 shadow-none" placeholder="{{ 'Message'|_ }}"></textarea>
                            </div>
                            <div class="form-group mb-3 mb-3">
                            {% if (recaptcha_enabled) %}
                                <div id="{{ genericForm }}" class="g-recaptcha" data-sitekey="{{ genericForm.settings.recaptcha_site_key }}" data-theme="{{ genericForm.property('recaptcha_theme') }}" data-type="{{ genericForm.property('recaptcha_type') }}" data-size="{{ genericForm.property('recaptcha_size') }}"></div>
                            {% elseif (recaptcha_misconfigured) %}
                                <h5>{{ recaptcha_warn }}</h5>
                            {% endif %}
                            </div>
                            <div class="form-group mb-3">
                                <input type="submit" value="{{ 'Send Message'|_ }}" class="btn btn-primary d-block w-100 btn-block">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 py-4 py-md-5" data-sal="slide-up" data-sal-duration="2000">
                <div class="ps-md-5">
                    <h2 class="mb-4 display-3">{{ data.section_aboutContact_title|raw }}</h2>
                    {{ data.section_aboutContact_desc|raw }}
                    {% if data.section_aboutContact_btn_link is not empty %}
                    <a href="{{ data.section_aboutContact_btn_clink ? data.section_aboutContact_btn_clink : (data.section_aboutContact_btn_plink|staticPage) }}" class="btn btn-primary py-3 px-2 px-md-4">{{ data.section_aboutContact_btn_label }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% put styles %}
<style>
.about-contact input::placeholder,
.about-contact textarea::placeholder {
    color: #ffffff !important;
}
</style>
{% endput %}