description = "Blog Carousel"

[viewBag]
==
{% if post.featured_images.count > 1 %}           
<div class="post splide group">
	<div class="splide__arrows">
		<button class="splide__arrow splide__arrow--prev w-4 w-md-5 h-4 h-md-5 bg-transparent opacity-0 group-hover-opacity-100 transition-30">
		    <span class="d-flex justify-content-center align-items-center btn btn-outline-primary rounded-circle fs-7 fs-md-5 p-0 w-4 w-md-5 h-4 h-md-5 bi bi-chevron-left"></span>
		</button>
		<button class="splide__arrow splide__arrow--next w-4 w-md-5 h-4 h-md-5 bg-transparent opacity-0 group-hover-opacity-100 transition-30">
		    <span class="d-flex justify-content-center align-items-center btn btn-outline-primary rounded-circle fs-7 fs-md-5 p-0 w-4 w-md-5 h-4 h-md-5 bi bi-chevron-right"></span>
		</button>
	</div>
	<div class="splide__track" data-sal="fade" data-sal-duration="2000">
		<ul class="splide__list">
		    {% for image in post.featured_images %}
			<li class="splide__slide opacity-25 transition-20">
			    <a class="glightbox" href="{{ image.getThumb(1920, auto, 'auto') }}" data-glightbox="title: {{ image.title }}; description: {{ image.description }}; descPosition: left;">
			        <div class="position-absolute top-0 bottom-0 start-0 end-0 w-100 h-100 bg-lighten-dark opacity-0 opacity-25-hover transition-30"></div>
			        <img class="img-fluid" src="{{ image.getThumb(1000, 700, 'crop') }}" alt="{{ image.title }}">
			    </a>
			</li>
            {% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if post.featured_images.count > 1 %}
{% put scripts %}
<script>
// Splide
new Splide( '.post', {
	type: 'loop',
	autoplay: true,
	pagination: false,
	focus: 'center',
	perPage: 2,
	trimSpace: false,
	gap: '2rem',
	padding: {
		right: '3rem',
		left : '3rem',
	},
	breakpoints: {
		768: {
			perPage: 1,
		}
	}
} ).mount();
</script>
{% endput %}

{% put styles %}
<style>
.splide__slide.is-active.is-visible {
    opacity: 1!important;
}
</style>
{% endput %}
{% endif %}

{% if post.featured_images.count %}
{% put scripts %}
<script>
// Glightbox
const lightbox = GLightbox({
    touchNavigation: true,
    loop: true
});
</script>
{% endput %}
{% endif %}