description = "Related Posts"

[viewBag]
==
<div class="">
    <h3 class="h4 pt-5 pb-4 mt-2">{{ "ginopane.blogtaxonomy::lang.components.related_posts.related_posts" | trans }}</h3>
    <div class="row d-flex">
        {% set sal = ['flip-left', 'flip-up', 'flip-right'] %}
        {% if relatedPosts.posts | length %}
        {% for post in relatedPosts.posts %}
        <div class="col-md-4" data-sal="{{ sal[ loop.index0 % 3 ] }}" data-sal-duration="2000">
            <div class="justify-content-end mb-3">
                {% if post.featured_images.count %}
                <a class="d-block bg-size-cover bg-position-center w-100 h-7 mb-2" href="{{ post.url }}" style="background-image: url('{{ post.featured_images.first.getThumb(450, 300, 'crop') }}');"></a>
                {% endif %}
                <div class="d-flex flex-wrap mb-2 fs-9 text-uppercase text-muted">
                    <div><span class="me-2">{{ post.published_at|date('M d, Y') }}</span></div>
                    <div><span class="me-2">{{ post.user.first_name}}</span></div>
                    {% if post.categories.count %}
                    {% for category in post.categories %}
                         <div><a href="{{ category.url }}" class="text-muted text-primary-hover me-1 transition-30">{{ category.name }}{{ not loop.last ? ',' }}</a></div>
                    {% endfor %}
                    {% endif %}
                </div>
                <h3 class="fs-5 fw-normal">
                    <a class="text-dark text-primary-hover" href="{{ post.url }}">{{ post.title }}</a>
                </h3>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-4">{{ "ginopane.blogtaxonomy::lang.components.related_posts.no_posts_message" | trans }}</div>
        {% endif %}
    </div>
</div>